<launch>
    <arg name="namespace"/>
    <node name="gp4_lego_bringup" pkg="gp4_lego" type="gp4_lego_bringup" output="screen" required="true">
        <param name="config_fname" value="$(find gp4_lego)/config/user_config.json"/>
        <param name="root_pwd" value="$(find gp4_lego)/"/>
        <remap from="$(arg namespace)/gp4_lego_bringup/j1_pub" to="$(arg namespace)/joint1_position_controller/command"/>
        <remap from="$(arg namespace)/gp4_lego_bringup/j2_pub" to="$(arg namespace)/joint2_position_controller/command"/>
        <remap from="$(arg namespace)/gp4_lego_bringup/j3_pub" to="$(arg namespace)/joint3_position_controller/command"/>
        <remap from="$(arg namespace)/gp4_lego_bringup/j4_pub" to="$(arg namespace)/joint4_position_controller/command"/>
        <remap from="$(arg namespace)/gp4_lego_bringup/j5_pub" to="$(arg namespace)/joint5_position_controller/command"/>
        <remap from="$(arg namespace)/gp4_lego_bringup/j6_pub" to="$(arg namespace)/joint6_position_controller/command"/>
    </node>
</launch>