<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
  <arg name="namespace" default="/yaskawa_gp4"/>

  <!-- the include to include other launch files  -->
  <!-- <include
    file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include> -->

  <group ns="$(arg namespace)/sim">

    

  <include file="$(find gp4_lego)/simulation/launch/controller_node.launch">
    <arg name="namespace" value="$(arg namespace)/sim"/>
  </include>

  </group>

</launch>
