<launch>
	<arg name="namespace" default="/yaskawa_gp4"/>
    <group ns="$(arg namespace)">

    <group if="$(eval namespace == '/yaskawa_gp4')">
            <arg name="config_fname1" value="$(find gp4_lego)/config/user_config_A.json"/>
            <node name="gp4_lego_task_planning_cartesian" pkg="gp4_lego" type="gp4_lego_task_planning_cartesian" output="screen" required="true">
            <param name="config_fname" value="$(arg config_fname1)"/>
            <param name="root_pwd" value="$(find gp4_lego)/"/>
            <remap from="$(arg namespace)/robot_state" to="$(arg namespace)/sim/gp4_lego_bringup/robot_state"/>
            <remap from="$(arg namespace)/goal" to="$(arg namespace)/sim/gp4_lego_bringup/robot_goal"/>
    </node>
    </group>
    <group if="$(eval namespace == '/developer')">
            <arg name="config_fname1" value="$(find gp4_lego)/config/user_config_D.json"/>
            <node name="gp4_lego_task_planning_cartesian" pkg="gp4_lego" type="gp4_lego_task_planning_cartesian" output="screen" required="true">
            <param name="config_fname" value="$(arg config_fname1)"/>
            <param name="root_pwd" value="$(find gp4_lego)/"/>
            <remap from="$(arg namespace)/robot_state" to="$(arg namespace)/sim/gp4_lego_bringup/robot_state"/>
            <remap from="$(arg namespace)/goal" to="$(arg namespace)/sim/gp4_lego_bringup/robot_goal"/>
    </node>
    </group>
    <group if="$(eval namespace == '/architect')">
            <arg name="config_fname1" value="$(find gp4_lego)/config/user_config_A.json"/>
            <node name="gp4_lego_task_planning_cartesian" pkg="gp4_lego" type="gp4_lego_task_planning_cartesian" output="screen" required="true">
            <param name="config_fname" value="$(arg config_fname1)"/>
            <param name="root_pwd" value="$(find gp4_lego)/"/>
            <remap from="$(arg namespace)/robot_state" to="$(arg namespace)/sim/gp4_lego_bringup/robot_state"/>
            <remap from="$(arg namespace)/goal" to="$(arg namespace)/sim/gp4_lego_bringup/robot_goal"/>
    </node>
    </group>
    
    </group>
</launch>
